<% provide(:page_bg, image_path("home_header.jpg") ) %>
  <div class='container-fluid'>
    <div class='col-xs-12'>
        <h5>ABOUT THE COLLECTION</h5>
        <p>Dr. Mick Moloney is the Global Distinguished Professor of Music and Irish Studies at New York University’s Glucksman Ireland House. The Mick Moloney Irish American Music and Popular Culture Collection at the Archives of Irish America consists of a variety of materials documenting Moloney’s research on Irish traditional music, as well as representations of Irish and Irish Americans in popular culture. &nbsp; <%=link_to "more >>", "about" %></p>
    </div>
    <div class='col-xs-12 col-sm-8 col-lg-8 pull-right'>
      <h6><%= icon('play-circle') %> RECENTLY ADDED RECORDINGS</h6>
        <% @song_list.each do |artist, songs| %>
          <div class='col-xs-12 col-sm-12 col-lg-12 songlist_wrapper'>
            <div class='songlist_img_wrapper'>
              <%= link_to(image_tag(artist.image.url, class: "songlist_img"), artist_path(artist.slug)) %>
              <p><%= link_to(artist.name.upcase,  artist_path(artist.slug)) %></p>
            </div>
            <ul>
              <% for song in songs.take(2) %>
                <li><%= link_to(truncate(song.description, length: 80, :escape => false), artist_path(song.artist.slug))  %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <div class='col-xs-12 col-sm-4 col-lg-4 doc_col pull-left'>
      <h6><%= icon('th') %> RECENT DOCUMENTS</h6>
        <div class="row">
           <%= render @doc_grid  %>
        </div>
    </div>
  </div>

