<% provide(:page_bg, image_path("home_header.jpg") ) %>
  <div class='container-fluid'>
    <div class='col-lg-12'>
        <p class='pullquote'>Dr. Mick Moloney is the Global Distinguished Professor of Music and Irish Studies at New York University’s Glucksman Ireland House. The Mick Moloney Irish American Music and Popular Culture Collection at the Archives of Irish America consists of a variety of materials documenting Moloney’s research on Irish traditional music, as well as representations of Irish and Irish Americans in popular culture. &nbsp; &nbsp; <%=link_to "more >>", "about" %></p>
    </div>
    <div class='col-xs-12 col-sm-4 col-lg-4 track_col'>
      <h6><%= icon('th') %> RECENT DOCUMENTS</h6>
        <div class="row">
           <%= render @doc_grid  %>
        </div>
    </div>
    <div class='col-xs-12 col-sm-8 col-lg-8'>
      <h6><%= icon('play-circle') %> RECENTLY ADDED RECORDINGS</h6>
        <% @song_list.each do |artist, songs| %>
          <div class='col-xs-12 col-sm-12 col-lg-12 songlist_wrapper'>
            <div class='songlist_img_wrapper'>
              <%= image_tag(artist.image, class: "songlist_img") %>
              <p><%= artist.name.upcase %></p>
            </div>
            <ul>
              <% for song in songs %>
                <li><%= truncate(song.description, length: 80, :escape => false)  %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
  </div>
</div>

