<% provide(:title, @document.title) %>
<h4>DOCUMENT: <%= @document.title.upcase %></h4>
<div class='container-fluid'>
  <div class='row grey_section'>
    <div class='col-xxs col-xs-6 col-md-6 pull-right doc_img'>
      <%= image_tag(@document.document_file) %>
    </div>
    <div class='col-xxs col-xs-6 col-md-4 pull-left doc_desc'>
      <p><%= @document.description.html_safe %></p>
      <p><%= @document.identifier %></p>
    </div>
  </div>
</div>
<div class='container-fluid'>
  <div class='row'>
    <h6>EXPLORE THE COLLECTION</h6>
    <div class='col-xs-12 doc_page_grid'>
        <%= render partial: "random_docs", action: @other_docs  %>
    </div>
  </div>
</div>
